<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세</title>
</head>
<body>

<section>
    <div class="container">
        <div class="py-5 text-center">
            <h2>게시글 상세</h2>
        </div>
        <div th:object="${boardDto}">

            <h5 th:text="*{boardTitle}"/>
            <h5 th:text="*{boardContent}"/>
            <h5 th:text="${#temporals.format(boardDto.boardRegdate, '작성일: yyyy년 MM월 dd일 HH시 mm분')}"/>
            <h5 th:text="*{boardWriter}"/>
            첨부 파일:
            <div th:each="file : ${boardDto.fileList}">
                <a th:href="|/board/attach/${file.fileId}|" th:text="${file.getUploadFileName()}"></a>
            </div>
            <img th:each="file : ${boardDto.fileList}" th:src="|/board/images/${file.getStoreFileName()}|" width="300" height="300"/>

        </div>
    </div>
</section>

</body>
</html>