<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.board.pagging.repository.mybatis.BoardMapper">
    <sql id="boardColumns">
        board_id, member_id, board_writer, board_title, board_content, board_regdate, board_update_date, board_delete_date
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="boardId">
        insert into
            board (member_id, board_writer, board_title, board_content, board_regdate)
        values
            (#{memberId}, #{boardWriter}, #{boardTitle}, #{boardContent}, #{boardRegdate})
    </insert>

    <select id="findByMemberId" resultType="Board">
        select
            <include refid="boardColumns"/>
        from
            board
        where
            member_id = #{memberId}
    </select>

    <select id="findById" resultType="Board">
        select
            <include refid="boardColumns"/>
        from
            board
        where
            board_id = #{boardId}
    </select>

    <select id="findAll" parameterType="hello.board.pagging.model.board.SearchDto" resultType="Board">
        select
            <include refid="boardColumns"/>
        from
            board
        order by
            board_id desc limit #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="getPageMaxCount" resultType="Integer">
        select
            count(*)
        from
            board
    </select>

    <resultMap id="boardFileMap" type="BoardFile">
        <id column="board_id" property="boardId"/>
        <result column="member_id" property="memberId"/>
        <result column="board_writer" property="boardWriter"/>
        <result column="board_title" property="boardTitle"/>
        <result column="board_content" property="boardContent"/>
        <result column="board_regdate" property="boardRegdate"/>
        <result column="board_update_date" property="boardUpdateDate"/>
        <result column="board_delete_date" property="boardDeleteDate"/>
        <collection property="fileList" ofType="File">
            <id column="file_id" property="fileId"/>
            <result column="board_id" property="boardId"/>
            <result column="upload_file_name" property="uploadFileName"/>
            <result column="store_file_name" property="storeFileName"/>
            <result column="file_image_yn" property="fileImageYn"/>
            <result column="file_regdate" property="fileRegdate"/>
        </collection>
    </resultMap>

    <!-- Board join File 조회 -->
    <select id="findByIdWithFile" parameterType="Long" resultMap="boardFileMap">
        select
            b.board_id, b.member_id, b.board_writer, b.board_title, b.board_content, b.board_regdate, b.board_update_date, b.board_delete_date,
            f.file_id, f.board_id, f.upload_file_name, f.store_file_name, f.file_image_yn, f.file_regdate
        from
            board as b inner join file as f
                on
                    b.board_id = f.board_id
        where
            b.board_id = #{id}
    </select>
</mapper>