<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세</title>
</head>
<body>

<section>
    <div class="container" th:object="${boardDto}">
        <!-- 자기가 게시한 게시글일 경우 수정 삭제가 가능해야 된다. -->
        <div class="d-block" th:if="${authMemberId} == *{memberId}">
            <!--/* 수정폼 이동 버튼 */-->
            <div class="p-2 px-1 d-inline">
                <a class="btn btn-primary" th:href="@{/board/modifyView/{param1}(param1=*{boardId})}" th:text="수정">수정 버튼</a>
            </div>

            <!--/* 삭제하기 버튼 */-->
            <form class="d-inline" method="post" th:action="@{/board/remove}">
                <div class="py-2 px-1 d-inline">
                    <input type="hidden" th:id="boardId" th:name="boardId" th:value="${boardDto.boardId}">
                    <button type="submit" class="btn btn-danger" th:text="삭제">삭제 버튼</button>
                </div>
            </form>
        </div>

        <!-- 게시글 좋아요 JS -->
        <th:block layout:fragment="script">
            <script th:inline="javascript">
                /*<![CDATA[*/
                    $(document).ready(function() {
                        $('.boardLike').click(function() {
                            let id = [[ ${boardDto.boardId} ]];
                            let data = {
                                'boardId' : id
                             };
                            let json = JSON.stringify(data);

                            $.ajax({
                                type: 'post',
                                url: '/likes/board',
                                data: json,
                                contentType: "application/json; charset=utf-8",
                                dataType: 'JSON',
                                success: function(data) {
                                    if(data == 1) {
                                        $('.boardLike').html(
                                            '<div class="boardLike" style="width:25px; height:25px;">' +
                                            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>' +
                                            '</div>'
                                        )
                                    }
                                    else {
                                        $('.boardLike').html(
                                            '<div class="boardLike" style="width:25px; height:25px;">' +
                                            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>' +
                                            '</div>'
                                        )
                                    }
                                    $('#likeTotalCount').text(Number($('#likeTotalCount').text()) + data);
                                }
                            });
                        });
                    });
                /*]]>*/
            </script>
        </th:block>

        <!-- 제목 -->
        <div class="card mb-2 my-2">
            <div class="card-header bg-light">
                <span class="float-start mb-0 display-6" th:text="*{boardTitle}"></span>
                <div th:switch="${boardDto.myBoardLikeCount}" class="float-end me-2 mt-3">
                    <div th:case="1" class="boardLike" style="width:25px; height:25px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                    </div>
                    <div th:case="-1" class="boardLike" style="width:25px; height:25px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
                    </div>
                </div>
                <div class="float-end mb-0 me-2 mt-3">
                    좋아요: <span id="likeTotalCount" th:text="${boardDto.boardLikeCount}"></span>
                </div>
                <span class="float-end mb-0 me-2 mt-3" th:text="${#temporals.format(boardDto.boardRegdate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
            </div>
            <div class="card-body">
                <!-- 본문 -->
                <div class="my-1">
                    <p th:text="*{boardContent}"/>
                </div>

                <!-- 이미지 출력 -->
                <img class="my-1" th:each="file : ${boardDto?.fileList}" th:if="${file?.fileImageYn == true}" th:src="|/file/images/${file.getStoreFileName()}|" width="300" height="300"/>

                <!-- 첨부 파일 -->
                <div class="my-1 d-inline" th:each="file : ${boardDto.fileList}">
                    <div class="card py-2 my-3" th:if="${file.fileImageYn == false}">
                        <a th:href="|/file/attach/${file.fileId}|" th:text="${file.getUploadFileName()}"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 댓글 좋아요 JS -->
        <th:block layout:fragment="script">
            <script th:inline="javascript">
                /*<![CDATA[*/
                    function onReplyLike(count, replyId) {
                        let data = { 'replyId' : replyId };
                        let json = JSON.stringify(data);

                        $.ajax({
                            type: 'post',
                            url: '/likes/reply',
                            data: json,
                            contentType: "application/json; charset=utf-8",
                            dataType: 'JSON',
                            success: function(data) {
                                if(data == 1) {
                                    $('.replyLike' + count.toString()).html(
                                        '<div class="replyLike' + count.toString() + '" style="width:25px; height:25px;">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>' +
                                        '</div>'
                                    )
                                }
                                else {
                                    $('.replyLike' + count.toString()).html(
                                        '<div class="replyLike' + count.toString() + '" style="width:25px; height:25px;">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>' +
                                        '</div>'
                                    )
                                }
                                $('#replyLikeCount' + count.toString()).text(Number($('#replyLikeCount' + count.toString()).text()) + data);
                            }
                        });
                    }
                /*]]>*/
            </script>
        </th:block>

        <!-- 댓글란 -->
        <div class="card mb-2" th:each="reply, replyStat : ${pagingResponseDto.list}">
            <div class="card-header bg-light">
                <span class="float-start mb-0 me-2 mt-2" th:text="${reply.replyWriter}"></span>
                <div th:switch="${reply.myReplyLikeCount}" th:onclick="onReplyLike([[${replyStat.count}]], [[${reply.replyId}]])" class="float-end me-2 mt-2">
                    <div th:case="1" th:class="'replyLike' + ${replyStat.count}" style="width:25px; height:25px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                    </div>
                    <div th:case="0" th:class="'replyLike' + ${replyStat.count}" style="width:25px; height:25px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
                    </div>
                </div>
                <div class="float-end mb-0 me-2 mt-2">
                    좋아요: <span th:id="'replyLikeCount' + ${replyStat.count}" th:text="${reply.replyLikeCount}"></span>
                </div>
                <span class="float-end mb-0 me-2 mt-2" th:text="${#temporals.format(reply.replyRegdate, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div th:if="${authMemberId} != ${reply.memberId}">
                            <textarea class="form-control" rows="2" th:text="${reply.replyContent}" disabled readonly></textarea>
                        </div>
                        <div th:if="${authMemberId} == ${reply.memberId}">
                            <form method="post" th:action="@{/reply/delete}">
                                <input type="hidden" th:id="replyId" th:name="replyId" th:value="${reply.replyId}"/>
                                <input type="hidden" th:id="boardId" th:name="boardId" th:value="${reply.boardId}"/>
                                <textarea class="form-control" rows="2" th:text="${reply.replyContent}" disabled readonly></textarea>
                                <button type="submit" class="btn btn-dark mt-3">삭제</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 댓글 페이징 쿼리 JS -->
        <th:block layout:fragment="script">
            <script th:inline="javascript">
                /*<![CDATA[*/

                    window.onload = () => {
                        // 페이지가 로드되었을 때, 딱 한 번만 함수를 실행
                        findAllReply();
                    }

                    // 게시글 리스트 조회
                    function findAllReply() {

                        // 1. PagingResponse 의 멤버인 List<T> 타입의 list 를 의미
                        const list = [[ ${pagingResponseDto.list} ]];

                        // 2. 리스트가 비어있는 경우 (페이지네이션 제거)
                        if ( !list.length ) {
                            drawPage();
                        }

                        // 3. PagingResponse 의 멤버인 pagination 을 의미
                        const pagination = [[ ${pagingResponseDto.pagination} ]];

                        // 4. @ModelAttribute 를 이용해서 뷰(HTML)로 전달한 SearchDto 타입의 객체인 params 를 의미
                        const params = [[ ${params} ]];

                        // 5. 페이지 번호 렌더링
                        drawPage(pagination, params);
                    }

                    // 페이지 HTML draw
                    function drawPage(pagination, params) {

                        // 1. 필수 파라미터가 없는 경우, 페이지 번호(페이지네이션) HTML 을 제거(초기화)한 후 로직 종료
                        if ( !pagination || !params ) {
                            document.querySelector('.paging').innerHTML = '';
                            return;
                        }

                        // 2. 렌더링 할 HTML 을 저장할 변수
                        let html = '';

                        // 3. 이전 페이지가 있는 경우, 즉 시작 페이지(startPage)가 1이 아닌 경우 첫 페이지 버튼과 이전 페이지 버튼을 HTML 에 추가
                        if (pagination.existPrevPage) {
                            html += `
                                <li class="page-item"><a href="javascript:void(0);" onclick="movePage(1)" class="page-link">&laquo;</a></li>
                                 <li class="page-item"><a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page-link" aria-label="Previous">&lt;</a></li>
                            `;
                        }

                        /*
                         * 4. 시작 페이지(startPage)와 끝 페이지(endPage) 사이의 페이지 번호(i)를 넘버링 하는 로직
                         *    페이지 번호(i)와 현재 페이지 번호(params.page)가 동일한 경우, 페이지 번호(i)를 활성화(on) 처리
                         */
                        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                            html += (i !== params.page)
                                ? `<li class="page-item"><a href="javascript:void(0);" onclick="movePage(${i});" class="page-link">${i}</a></li>`
                                : `<li class="page-item disabled"><span class="page-link">${i}</span></li>`
                        }

                        // 5. 현재 위치한 페이지 뒤에 데이터가 더 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML 에 추가
                        if (pagination.existNextPage) {
                            html += `
                                 <li class="page-item"><a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page-link" aria-label="Next">&gt;</a></li>
                                 <li class="page-item"><a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page-link">&raquo;</a></li>
                            `;
                        }

                        // 6. class가 "paging"인 요소를 찾아 HTML을 렌더링
                        document.querySelector('.paging').innerHTML = html;
                    }


                    // 페이지 이동
                    function movePage(page) {

                        // 1. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
                        const queryParams = {
                            page: (page) ? page : 1,
                            recordSize: 5,
                            pageSize: 5
                        }

                        /*
                         * 2. location.pathname : 리스트 페이지의 URI 를 의미
                         *    new URLSearchParams(queryParams).toString() : queryParams 의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
                         *    URI + 쿼리 스트링에 해당하는 주소로 이동
                         */
                        location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
                    }
                /*]]>*/
            </script>
        </th:block>

        <!-- /* 댓글 페이지네이션 렌더링 영역 */ -->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm justify-content-center paging"></ul>
        </nav>

        <!-- 댓글 입력란 -->
        <div class="card mb-2">
            <div class="card-header bg-light">
                <i class="fa fa-comment fa"></i> REPLY
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-inline mb-2">
                            <input type="text" class="form-control-sm ml-2" th:value="${authMemberNm}" disabled readonly>
                        </div>
                        <form method="post" th:action="@{/reply/{param1}(param1=${boardDto.boardId})}" th:object="${replySaveDto}">
                            <textarea class="form-control" rows="3" th:field="*{replyContent}"></textarea>
                            <div th:text="${replySaveFailure}"></div>

                            <button type="submit" class="btn btn-dark mt-3">댓글 쓰기</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

</body>
</html>